In [1]:
import pandas as pd
df=pd.read_csv('https://sololearn.com/uploads/files/titanic.csv')
print(df.head(n=10))

   Survived  Pclass     Sex   Age  Siblings/Spouses  Parents/Children     Fare
0         0       3    male  22.0                 1                 0   7.2500
1         1       1  female  38.0                 1                 0  71.2833
2         1       3  female  26.0                 0                 0   7.9250
3         1       1  female  35.0                 1                 0  53.1000
4         0       3    male  35.0                 0                 0   8.0500
5         0       3    male  27.0                 0                 0   8.4583
6         0       1    male  54.0                 0                 0  51.8625
7         0       3    male   2.0                 3                 1  21.0750
8         1       3  female  27.0                 0                 2  11.1333
9         1       2  female  14.0                 1                 0  30.0708

In [2]:
#1dimension array output
arr=df['Fare'].values

##### Convert pandas DataFrame to Numpy Array

In [7]:
arr=df[['Pclass','Fare','Age']].values[:10]
#print(arr)
print(arr.shape)
print(arr[0])
print(arr[0,1])
print(arr[:5,2])

(10, 3)
[ 3.    7.25 22.  ]
7.25
[22. 38. 26. 35. 35.]

In [12]:
arr=df[['Pclass','Fare','Age']].values[:100]
mask=arr[:,2]<18
print(mask.sum())
print((arr[:,2]<18).sum())

20
20