In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('https://sololearn.com/uploads/files/titanic.csv')
print(df.head(n=10))

   Survived  Pclass     Sex   Age  Siblings/Spouses  Parents/Children     Fare
0         0       3    male  22.0                 1                 0   7.2500
1         1       1  female  38.0                 1                 0  71.2833
2         1       3  female  26.0                 0                 0   7.9250
3         1       1  female  35.0                 1                 0  53.1000
4         0       3    male  35.0                 0                 0   8.0500
5         0       3    male  27.0                 0                 0   8.4583
6         0       1    male  54.0                 0                 0  51.8625
7         0       3    male   2.0                 3                 1  21.0750
8         1       3  female  27.0                 0                 2  11.1333
9         1       2  female  14.0                 1                 0  30.0708

##### describe() to show staticistics of data

In [3]:
#pd.options.display.max_columns=6
print(df.describe())

         Survived      Pclass         Age  Siblings/Spouses  Parents/Children  \
count  887.000000  887.000000  887.000000        887.000000        887.000000
mean     0.385569    2.305524   29.471443          0.525366          0.383315
std      0.487004    0.836662   14.121908          1.104669          0.807466
min      0.000000    1.000000    0.420000          0.000000          0.000000
25%      0.000000    2.000000   20.250000          0.000000          0.000000
50%      0.000000    3.000000   28.000000          0.000000          0.000000
75%      1.000000    3.000000   38.000000          1.000000          0.000000
max      1.000000    3.000000   80.000000          8.000000          6.000000

            Fare
count  887.00000
mean    32.30542
std     49.78204
min      0.00000
25%      7.92500
50%     14.45420
75%     31.13750
max    512.32920

In [4]:
col=df[['Fare','Age']]
print(col.head(n=15))

       Fare   Age
0    7.2500  22.0
1   71.2833  38.0
2    7.9250  26.0
3   53.1000  35.0
4    8.0500  35.0
5    8.4583  27.0
6   51.8625  54.0
7   21.0750   2.0
8   11.1333  27.0
9   30.0708  14.0
10  16.7000   4.0
11  26.5500  58.0
12   8.0500  20.0
13  31.2750  39.0
14   7.8542  14.0

In [5]:
#Select many columns
small_df=df[['Age','Sex','Survived']]
print(small_df.head())

    Age     Sex  Survived
0  22.0    male         0
1  38.0  female         1
2  26.0  female         1
3  35.0  female         1
4  35.0    male         0

In [7]:
#Create new Column
df['male']=df['Sex']=='male'
print(df.head())

   Survived  Pclass     Sex   Age  Siblings/Spouses  Parents/Children  \
0         0       3    male  22.0                 1                 0
1         1       1  female  38.0                 1                 0
2         1       3  female  26.0                 0                 0
3         1       1  female  35.0                 1                 0
4         0       3    male  35.0                 0                 0

      Fare   male
0   7.2500   True
1  71.2833  False
2   7.9250  False
3  53.1000  False
4   8.0500   True