In [1]:
import numpy as np
import pandas as pd

##### Series

In [6]:
pd.Series([1,2,3],index=list(['a','b','c']))

a    1
b    2
c    3
dtype: int64

In [9]:
pd.Series(np.array([1,2,3]),index=[1,2,3])

1    1
2    2
3    3
dtype: int32

In [12]:
pd.Series({'a':1,'b':2,'c':3})

a    1
b    2
c    3
dtype: int64

##### Data Frame

In [29]:
wine_dict= { 
    'red_wine':[3,6,5],
    'white_wine':[5,0,10]
}
sales=pd.DataFrame(wine_dict,index=['adam','bob','charles'])
print(sales)
print(sales['red_wine'])

         red_wine  white_wine
adam            3           5
bob             6           0
charles         5          10
adam       3
bob        6
charles    5
Name: red_wine, dtype: int64

In [31]:
sales_T=sales.transpose()
print(sales_T)
print(type(sales_T))
print(sales_T['adam'])
# ser2=sales.columns
# ser2

            adam  bob  charles
red_wine       3    6        5
white_wine     5    0       10
<class 'pandas.core.frame.DataFrame'>
red_wine      3
white_wine    5
Name: adam, dtype: int64

In [32]:
presidents_df=pd.read_csv('https://sololearn.com/uploads/files/president_heights_party.csv',index_col="name")

In [40]:
print(presidents_df.head(20))
print(presidents_df.shape)
print(presidents_df.size)

                        order  age  height                  party
name
George Washington           1   57     189                   none
John Adams                  2   61     170             federalist
Thomas Jefferson            3   57     189  democratic-republican
James Madison               4   57     163  democratic-republican
James Monroe                5   58     183  democratic-republican
John Quincy Adams           6   57     171  democratic-republican
Andrew Jackson              7   61     185             democratic
Martin Van Buren            8   54     168             democratic
William Henry Harrison      9   68     173                   whig
John Tyler                 10   51     183                   whig
James K. Polk              11   49     173             democratic
Zachary Taylor             12   64     173                   whig
Millard Fillmore           13   50     175                   whig
Franklin Pierce            14   48     178             democratic
James Buchanan             15   65     183             democratic
Abraham Lincoln            16   52     193             republican
Andrew Johnson             17   56     178         national union
Ulysses S. Grant           18   46     173             republican
Rutherford B. Hayes        19   54     174             republican
James A. Garfield          20   49     183             republican
(45, 4)
180

In [43]:
print(presidents_df.info())
presidents_df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 45 entries, George Washington to Donald J. Trump
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   order   45 non-null     int64
 1   age     45 non-null     int64
 2   height  45 non-null     int64
 3   party   45 non-null     object
dtypes: int64(3), object(1)
memory usage: 1.8+ KB
None

           order        age      height
count  45.000000  45.000000   45.000000
mean   23.022222  55.000000  180.000000
std    13.136502   6.595453    6.977236
min     1.000000  42.000000  163.000000
25%    12.000000  51.000000  175.000000
50%    23.000000  55.000000  182.000000
75%    34.000000  58.000000  183.000000
max    45.000000  70.000000  193.000000

In [47]:
print(presidents_df.columns)
print(presidents_df['height'])
print(presidents_df['height'].shape)

Index(['order', 'age', 'height', 'party'], dtype='object')
name
George Washington         189
John Adams                170
Thomas Jefferson          189
James Madison             163
James Monroe              183
John Quincy Adams         171
Andrew Jackson            185
Martin Van Buren          168
William Henry Harrison    173
John Tyler                183
James K. Polk             173
Zachary Taylor            173
Millard Fillmore          175
Franklin Pierce           178
James Buchanan            183
Abraham Lincoln           193
Andrew Johnson            178
Ulysses S. Grant          173
Rutherford B. Hayes       174
James A. Garfield         183
Chester A. Arthur         183
Grover Cleveland          180
Benjamin Harrison         168
Grover Cleveland          180
William McKinley          170
Theodore Roosevelt        178
William Howard Taft       182
Woodrow Wilson            180
Warren G. Harding         183
Calvin Coolidge           178
Herbert Hoover            182
Franklin D. Roosevelt     188
Harry S. Truman           175
Dwight D. Eisenhower      179
John F. Kennedy           183
Lyndon B. Johnson         193
Richard Nixon             182
Gerald Ford               183
Jimmy Carter              177
Ronald Reagan             185
George H. W. Bush         188
Bill Clinton              188
George W. Bush            182
Barack Obama              185
Donald J. Trump           191
Name: height, dtype: int64
(45,)

In [49]:
presidents_df[['height','age']].head(n=10)

                        height  age
name
George Washington          189   57
John Adams                 170   61
Thomas Jefferson           189   57
James Madison              163   57
James Monroe               183   58
John Quincy Adams          171   57
Andrew Jackson             185   61
Martin Van Buren           168   54
William Henry Harrison     173   68
John Tyler                 183   51

In [56]:
presidents_df.loc['John Tyler','age']

51

In [62]:
print(presidents_df.loc['James Monroe':'John Tyler','age':'height'])

                        age  height
name
James Monroe             58     183
John Quincy Adams        57     171
Andrew Jackson           61     185
Martin Van Buren         54     168
William Henry Harrison   68     173
John Tyler               51     183

##### Summary Satistic

In [67]:
print(presidents_df.max())
print(presidents_df.min())
print(presidents_df.mean())

order       45
age         70
height     193
party     whig
dtype: object
order              1
age               42
height           163
party     democratic
dtype: object
order      23.022222
age        55.000000
height    180.000000
dtype: float64

In [69]:
print(presidents_df['age'].max())
print(presidents_df[['age','height']].min())
print(presidents_df['age'].mean())

70
age        42
height    163
dtype: int64
55.0

In [76]:
print(presidents_df.sort_values(by ='age'))
presidents_df['age'].quantile([0.25,0.5,0.75,1.0])

                        order  age  height                  party
name
Theodore Roosevelt         26   42     178             republican
John F. Kennedy            35   43     183             democratic
Bill Clinton               42   46     188             democratic
Ulysses S. Grant           18   46     173             republican
Barack Obama               44   47     185             democratic
Grover Cleveland           22   47     180             democratic
Franklin Pierce            14   48     178             democratic
James A. Garfield          20   49     183             republican
James K. Polk              11   49     173             democratic
Millard Fillmore           13   50     175                   whig
Chester A. Arthur          21   51     183             republican
Calvin Coolidge            30   51     178             republican
Franklin D. Roosevelt      32   51     188             democratic
William Howard Taft        27   51     182             republican
John Tyler                 10   51     183                   whig
Abraham Lincoln            16   52     193             republican
Jimmy Carter               39   52     177             democratic
Martin Van Buren            8   54     168             democratic
William McKinley           25   54     170             republican
Rutherford B. Hayes        19   54     174             republican
George W. Bush             43   54     182             republican
Herbert Hoover             31   54     182             republican
Grover Cleveland           25   55     180             democratic
Benjamin Harrison          23   55     168             republican
Lyndon B. Johnson          36   55     193             democratic
Warren G. Harding          29   55     183             republican
Woodrow Wilson             28   56     180             democratic
Richard Nixon              37   56     182             republican
Andrew Johnson             17   56     178         national union
George Washington           1   57     189                   none
John Quincy Adams           6   57     171  democratic-republican
James Madison               4   57     163  democratic-republican
Thomas Jefferson            3   57     189  democratic-republican
James Monroe                5   58     183  democratic-republican
Harry S. Truman            33   60     175             democratic
Andrew Jackson              7   61     185             democratic
Gerald Ford                38   61     183             republican
John Adams                  2   61     170             federalist
Dwight D. Eisenhower       34   62     179             republican
Zachary Taylor             12   64     173                   whig
George H. W. Bush          41   64     188             republican
James Buchanan             15   65     183             democratic
William Henry Harrison      9   68     173                   whig
Ronald Reagan              40   69     185             republican
Donald J. Trump            45   70     191             republican

0.25    51.0
0.50    55.0
0.75    58.0
1.00    70.0
Name: age, dtype: float64

In [84]:
print("Mean",presidents_df['age'].mean())
print("Median",presidents_df['age'].median())

Mean 55.0
Median 55.0

##### Variance and Standard deviation

In [91]:
ct=pd.Series([2,3,4])
print(ct.mean())
print(ct.median())
print(ct.var())
print(ct.std())

3.0
3.0
1.0
1.0

In [95]:
print(presidents_df['age'].var())
print(presidents_df['age'].std())
print(presidents_df.var())
print(presidents_df.std())

43.5
6.59545297913646
order     172.567677
age        43.500000
height     48.681818
dtype: float64
order     13.136502
age        6.595453
height     6.977236
dtype: float64

In [97]:
presidents_df['party'].value_counts()

republican               19
democratic               15
whig                      4
democratic-republican     4
none                      1
federalist                1
national union            1
Name: party, dtype: int64

In [100]:
presidents_df['party'].describe()

count             45
unique             7
top       republican
freq              19
Name: party, dtype: object

##### Groupby

In [109]:
president_group=presidents_df.groupby('party')
print(type(president_group))
print(president_group.mean())
print(president_group.max())

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>
                           order        age      height
party
democratic             26.066667  52.600000  181.066667
democratic-republican   4.500000  57.250000  176.500000
federalist              2.000000  61.000000  170.000000
national union         17.000000  56.000000  178.000000
none                    1.000000  57.000000  189.000000
republican             29.631579  55.263158  180.894737
whig                   11.000000  58.250000  176.000000
                       order  age  height
party
democratic                44   65     193
democratic-republican      6   58     189
federalist                 2   61     170
national union            17   56     178
none                       1   57     189
republican                45   70     193
whig                      13   68     183

In [122]:
#Aggregation
president_group['height'].agg([min,max,np.median,np.mean])

                       min  max  median        mean
party
democratic             168  193     180  181.066667
democratic-republican  163  189     177  176.500000
federalist             170  170     170  170.000000
national union         178  178     178  178.000000
none                   189  189     189  189.000000
republican             168  193     182  180.894737
whig                   173  183     174  176.000000

In [127]:
presidents_df.groupby('party').agg({'height':[np.median,np.mean],'age':[min,max]})

                      height             age
                      median        mean min max
party
democratic               180  181.066667  43  65
democratic-republican    177  176.500000  57  58
federalist               170  170.000000  61  61
national union           178  178.000000  56  56
none                     189  189.000000  57  57
republican               182  180.894737  42  70
whig                     174  176.000000  50  68

In [129]:
presidents_df.loc['Franklin D. Roosevelt',['age','party']]

age              51
party    democratic
Name: Franklin D. Roosevelt, dtype: object